In [126]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Set to None for all rows

df = pd.read_csv('glassdoor_salary.csv')

In [127]:
df  = df[~df.eq('--').any(axis=1) & ~df.eq('-1').any(axis=1) & ~df.eq('-1').any(axis=1)]

In [128]:
len(df)

652

In [129]:
salary = df['Salary Estimate'].apply(lambda x : x.split('(')[0])
df['hourly']  = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else  0)
df['employer provided']  = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else  0)

In [149]:
#TEMP CELL

In [130]:
minus_kd = salary.apply(lambda x : x.replace('K', '').replace('$', ''))
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('usd', ''))
#min_hr = min_hr[min_hr.str.contains('-')]

In [131]:
min_hr = pd.concat([df['hourly'],min_hr], axis = 1)

In [132]:
min_hr.loc[(min_hr['hourly'] == 1) & (~min_hr['Salary Estimate'].str.contains('-')), 'Salary Estimate'] = min_hr[(min_hr['hourly'] == 1) & (~min_hr['Salary Estimate'].str.contains(' -'))]['Salary Estimate'].apply(lambda x: str(int(float(x.strip())) - 5) + '-' + x)
min_hr.loc[~min_hr['Salary Estimate'].str.contains('-'), 'Salary Estimate'] = min_hr[~min_hr['Salary Estimate'].str.contains('-')]['Salary Estimate'].apply(lambda x: str(int(float(x.strip())) - 10) + ' -' + x)

In [ ]:
#TEMP CELL

In [148]:
df['min_salary'] = min_hr['Salary Estimate'].apply(lambda x : x.split('-')[0])
df['max_salary'] = min_hr['Salary Estimate'].apply(lambda x:x.split('-')[1])

df['min_salary'] = df['min_salary'].str.strip()
df['min_salary'] = pd.to_numeric(df['min_salary']).astype(int)
df['max_salary'] = df['max_salary'].str.strip()
df['max_salary'] = pd.to_numeric(df['max_salary']).astype(int)


df['avg_salary'] = (df.min_salary + df.max_salary)/2

In [164]:
#TEMP CELL

In [157]:
df = df[df['Location'].str.contains(',')]

In [158]:
df['city'] = df['Location'].apply(lambda x : x.split(',')[0])
df['job_state'] = df['Location'].apply( lambda x : x.split(',')[1])

In [165]:
df['Founded'] = df['Founded'].astype(int)
df['age'] = df.Founded.apply(lambda x : x if x < 1 else 2024-x)

In [167]:
df['python_yn'] = df['Job Description'].apply(lambda x : 1 if 'python' in x.lower() else 0)
df['excel'] = df['Job Description'].apply(lambda x : 1 if 'excel' in x.lower() else 0)
df['tableau'] = df['Job Description'].apply(lambda x : 1 if 'tableau' in x.lower() else 0)
df['spark'] = df['Job Description'].apply(lambda x : 1 if 'spark' in x.lower() else 0)
df['r_yn'] = df['Job Description'].apply(lambda x : 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

In [169]:
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))

In [176]:
df = df.drop(columns = ['Unnamed: 0'])

In [177]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,avg_salary,city,job_state,age,python_yn,excel,tableau,spark,r_yn,desc_len
1,Senior Data Scientist,USD 200K (Employer est.),Title:\r\nSenior Data Scientist for Large Scal...,4.5,Red Dog Media,"Henderson, NV",1 to 50 Employees,2008,Company - Private,Internet & Web Services,...,195.0,Henderson,NV,16,1,0,1,0,0,4484
2,"Manager, Model Validation",USD 76K - 126K (Glassdoor est.),"When you join Sallie Mae, you become a champio...",4.1,Sallie Mae,"Newark, DE",1001 to 5000 Employees,1973,Company - Public,Banking & Lending,...,101.0,Newark,DE,51,1,1,0,0,0,5617
4,Sr. Finance & Data Analyst,USD 64K - 92K (Glassdoor est.),Sr. Finance & Data Analyst\r\nWho is P.A.C.E?\...,3.4,Senior Care Partners PACE,"Battle Creek, MI",201 to 500 Employees,2008,Nonprofit Organization,Health Care Services & Hospitals,...,78.0,Battle Creek,MI,16,0,1,0,0,0,5572
7,"Data Labeling Quality Specialist, Public Secto...",USD 18.00 Per Hour (Employer est.),The Data Labeling Quality Specialist role is a...,3.7,Scale AI,"Saint Louis, MO",51 to 200 Employees,2016,Company - Private,Enterprise Software & Network Solutions,...,15.5,Saint Louis,MO,8,0,1,0,0,0,3788
9,NLP Data Scientist - Python | Machine Learning...,USD 93K - 154K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Tampa, FL",10000+ Employees,1850,Company - Private,Business Consulting,...,123.5,Tampa,FL,174,1,0,1,0,0,4868

In [178]:
df.to_csv('cleaned_df.csv')

In [172]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,...,avg_salary,city,job_state,age,python_yn,excel,tableau,spark,r_yn,desc_len
1,1,Senior Data Scientist,USD 200K (Employer est.),Title:\r\nSenior Data Scientist for Large Scal...,4.5,Red Dog Media,"Henderson, NV",1 to 50 Employees,2008,Company - Private,...,195.0,Henderson,NV,16,1,0,1,0,0,4484
2,2,"Manager, Model Validation",USD 76K - 126K (Glassdoor est.),"When you join Sallie Mae, you become a champio...",4.1,Sallie Mae,"Newark, DE",1001 to 5000 Employees,1973,Company - Public,...,101.0,Newark,DE,51,1,1,0,0,0,5617
4,4,Sr. Finance & Data Analyst,USD 64K - 92K (Glassdoor est.),Sr. Finance & Data Analyst\r\nWho is P.A.C.E?\...,3.4,Senior Care Partners PACE,"Battle Creek, MI",201 to 500 Employees,2008,Nonprofit Organization,...,78.0,Battle Creek,MI,16,0,1,0,0,0,5572
7,7,"Data Labeling Quality Specialist, Public Secto...",USD 18.00 Per Hour (Employer est.),The Data Labeling Quality Specialist role is a...,3.7,Scale AI,"Saint Louis, MO",51 to 200 Employees,2016,Company - Private,...,15.5,Saint Louis,MO,8,0,1,0,0,0,3788
9,9,NLP Data Scientist - Python | Machine Learning...,USD 93K - 154K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Tampa, FL",10000+ Employees,1850,Company - Private,...,123.5,Tampa,FL,174,1,0,1,0,0,4868
10,10,Data Scientist (Active security clearance requ...,USD 82K - 128K (Glassdoor est.),Overview:\r\nParadyme Management is a rapidly ...,3.5,Paradyme Management,"Tysons Corner, VA",51 to 200 Employees,2003,Company - Private,...,105.0,Tysons Corner,VA,21,1,1,0,0,0,3925
12,12,Project Manager / Senior Data Analyst,USD 67K - 100K (Glassdoor est.),Project Manager / Senior Data Analyst\r\nLocat...,3.4,HumanTouch LLC,"Portsmouth, VA",201 to 500 Employees,1998,Company - Private,...,83.5,Portsmouth,VA,26,0,1,1,0,0,3500
14,14,Data Scientist,USD 78K - 115K (Glassdoor est.),Supports customer analytics by implementing an...,3.5,Penske Truck Leasing and Logistics,"Reading, PA",10000+ Employees,1969,Company - Private,...,96.5,Reading,PA,55,1,0,0,0,0,4153
19,19,Lead Data Scientist,USD 99K - 164K (Glassdoor est.),External Description:\r\nLIVING OUR VALUES\r\n...,4.7,The Friedkin Group,"Houston, TX",5001 to 10000 Employees,1969,Company - Private,...,131.5,Houston,TX,55,1,1,1,1,0,8103
22,22,AI Engineer,USD 42K - 65K (Employer est.),Company Overview:\r\nBYOT Auto Parts is a pion...,4.4,BYOT Auto Parts,"Waco, TX",1 to 50 Employees,2016,Company - Private,...,53.5,Waco,TX,8,1,0,0,0,0,4006
24,24,Data Visualization Developer - Solution Specia...,USD 81K - 111K (Glassdoor est.),Data Visualization Developer - PowerBI - Solut...,4.0,Deloitte,"Atlanta, GA",10000+ Employees,1850,Company - Private,...,96.0,Atlanta,GA,174,1,0,0,0,0,4329
25,25,HP083 Data Curation Scientist,USD 70K - 80K (Employer est.),HP083 Data Curation Scientist\r\nWe are seekin...,3.8,"ADNET Systems, Inc.","Greenbelt, MD",201 to 500 Employees,1990,Company - Private,...,75.0,Greenbelt,MD,34,1,0,0,0,0,3736
27,27,"Associate Director, Statistical Programming",USD 146K - 194K (Glassdoor est.),Join a Legacy of Innovation 110 Years and Coun...,4.0,"Daiichi Sankyo, Inc.","Basking Ridge, NJ",10000+ Employees,1899,Company - Public,...,170.0,Basking Ridge,NJ,125,0,0,0,0,0,5732
28,28,Data Science Manager - Supply Chain and Operat...,USD 78K - 119K (Glassdoor est.),US-PA-Allentown\r\nJob Description and Qualifi...,4.1,Air Products,"Allentown, PA",10000+ Employees,1940,Company - Public,...,98.5,Allentown,PA,84,0,0,0,0,0,5812
29,29,Senior Data Scientist,USD 112K - 165K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Gilbert, AZ",10000+ Employees,1850,Company - Private,...,138.5,Gilbert,AZ,174,0,1,0,1,0,5197
30,30,Data Scientist,USD 80K - 192K (Employer est.),"At NSA Data Science is a broad field, and a te...",3.7,National Security Agency,"Fort Meade, MD",Unknown,1962,Government,...,136.0,Fort Meade,MD,62,0,1,0,0,0,9602
32,32,Senior Data Scientist,USD 109K - 158K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Lake Mary, FL",10000+ Employees,1850,Company - Private,...,133.5,Lake Mary,FL,174,0,1,0,1,0,5197
34,34,Senior Data Scientist,USD 99K - 143K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Mechanicsburg, PA",10000+ Employees,1850,Company - Private,...,121.0,Mechanicsburg,PA,174,0,1,0,1,0,5197
37,37,"Director, Statistical Programming",USD 155K - 206K (Glassdoor est.),Join a Legacy of Innovation 110 Years and Coun...,4.0,"Daiichi Sankyo, Inc.","Basking Ridge, NJ",10000+ Employees,1899,Company - Public,...,180.5,Basking Ridge,NJ,125,0,0,0,0,0,5369
40,40,Data Scientist [Post-Doc Research Fellow],USD 75K - 90K (Employer est.),"Buffalo Manufacturing Works, operated by EWI, ...",3.8,Edison Welding Institute Inc,"Buffalo, NY",51 to 200 Employees,1984,Nonprofit Organization,...,82.5,Buffalo,NY,40,1,1,0,0,0,4549
41,41,"Senior Scientist, Commercial Data Science",USD 91K - 151K (Glassdoor est.),"At Genmab, we’re committed to building extra[n...",4.2,Genmab,"Princeton, NJ",1001 to 5000 Employees,1999,Company - Public,...,121.0,Princeton,NJ,25,1,1,0,0,0,7098
43,43,Lead/Senior Bioinformatics Research Scientist-...,USD 104K - 186K (Employer est.),St. Jude Children's Research Hospital has an e...,4.6,St. Jude Children's Research Hospital,"Memphis, TN",5001 to 10000 Employees,1962,Nonprofit Organization,...,145.0,Memphis,TN,62,0,0,0,0,0,6014
44,44,Data Visualization PowerBI Developer,USD 69K - 102K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Lake Mary, FL",10000+ Employees,1850,Company - Private,...,85.5,Lake Mary,FL,174,1,0,0,0,0,4409
46,46,Data Visualization PowerBI Developer,USD 67K - 100K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Gilbert, AZ",10000+ Employees,1850,Company - Private,...,83.5,Gilbert,AZ,174,1,0,0,0,0,4409
49,49,Data Visualization PowerBI Developer,USD 76K - 118K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Lake Mary, FL",10000+ Employees,1850,Company - Private,...,97.0,Lake Mary,FL,174,1,0,0,0,0,4415
51,51,Data Visualization PowerBI Developer,USD 65K - 101K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Mechanicsburg, PA",10000+ Employees,1850,Company - Private,...,83.0,Mechanicsburg,PA,174,1,0,0,0,0,4409
52,52,Data Visualization PowerBI Developer,USD 74K - 117K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Gilbert, AZ",10000+ Employees,1850,Company - Private,...,95.5,Gilbert,AZ,174,1,0,0,0,0,4415
53,53,"Engineer, Generative AI",USD 160K - 190K (Employer est.),Vagaro is actively seeking a talented and forw...,3.7,Vagaro,"Pleasanton, CA",201 to 500 Employees,2009,Company - Private,...,175.0,Pleasanton,CA,15,0,1,0,0,0,4266
56,56,Supervisory Survey Statistician,USD 26.12 - 60.22 Per Hour (Employer est.),This vacancy is for a Supervisory Survey Stati...,3.9,U.S. Census Bureau,"Lakewood, CO",10000+ Employees,1903,Government,...,43.0,Lakewood,CO,121,0,0,0,0,0,889
58,58,Senior Developer Technology Engineer - AI,USD 180K - 339K (Employer est.),We’re currently seeking a Senior Developer Tec...,4.6,NVIDIA,"Santa Clara, CA",10000+ Employees,1993,Company - Public,...,259.5,Santa Clara,CA,31,0,1,0,0,0,3489
62,62,Senior Data Analyst,USD 68K - 102K (Glassdoor est.),PURPOSE OF THE POSITION The SR Data Analyst is...,3.7,Simmons Prepared Foods Inc,"Siloam Springs, AR",1001 to 5000 Employees,1949,Company - Private,...,85.0,Siloam Springs,AR,75,0,1,0,0,0,6652
64,64,Senior Statistician (Remote),USD 90K - 130K (Employer est.),Important: This is a reminder that Target RWE ...,3.0,TARGET RWE,"Durham, NC",51 to 200 Employees,2015,Company - Private,...,110.0,Durham,NC,9,0,1,0,0,0,4451
66,66,Senior Data Scientist - AI SFL Scientific,USD 116K - 160K (Glassdoor est.),Do you want to build your brand by working for...,4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,...,138.0,Rosslyn,VA,174,1,0,0,0,0,3771
68,68,Data Access Management Specialist,USD 76K - 120K (Glassdoor est.),Position Title: Data Access Management Special...,4.0,Sanofi,"Cambridge, MA",10000+ Employees,1973,Company - Public,...,98.0,Cambridge,MA,51,0,1,0,0,0,8437
69,69,"Engineering Manager, Machine Learning",USD 190K - 210K (Employer est.),Vagaro is seeking an accomplished and visionar...,3.7,Vagaro,"Pleasanton, CA",201 to 500 Employees,2009,Company - Private,...,200.0,Pleasanton,CA,15,0,1,0,0,0,6343
71,71,Actuarial Team Member,USD 80K (Employer est.),Actuarial Team Member\r\nSFM – The Work Comp E...,4.7,SFM Mutual Insurance Company,"Bloomington, MN",201 to 500 Employees,1983,Company - Private,...,75.0,Bloomington,MN,41,1,1,0,0,0,9153
72,72,Data Visualization PowerBI Developer,USD 71K - 113K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Mechanicsburg, PA",10000+ Employees,1850,Company - Private,...,92.0,Mechanicsburg,PA,174,1,0,0,0,0,4415
73,73,Cloud Data Engineer - Solution Specialist,USD 74K - 107K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Lake Mary, FL",10000+ Employees,1850,Company - Private,...,90.5,Lake Mary,FL,174,1,0,0,1,0,4941
76,76,Data Scientist - A/B testing and Pyspark,USD 66K - 97K (Glassdoor est.),Infosys is hiring for the role of Data Scienti...,3.2,Infosys,"Austin, TX",10000+ Employees,1981,Company - Public,...,81.5,Austin,TX,43,1,1,1,1,0,4542
77,77,Cloud Data Engineer - Solution Specialist,USD 69K - 104K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Gilbert, AZ",10000+ Employees,1850,Company - Private,...,86.5,Gilbert,AZ,174,1,0,0,1,0,4941
81,81,"Manager, Statistical Programmer",USD 96K - 146K (Glassdoor est.),"By clicking the “Apply” button, I understand t...",4.0,Takeda Pharmaceutical,"Lexington, MA",10000+ Employees,1781,Company - Private,...,121.0,Lexington,MA,243,0,0,0,0,0,2309
82,82,Sr. Cloud Data Modeler/Engineer,USD 138K - 228K (Employer est.),"Who Are We?\r\nTaking care of our customers, o...",4.1,"The Travelers Companies, Inc.","Hartford, CT",10000+ Employees,1853,Company - Public,...,183.0,Hartford,CT,171,0,1,0,0,0,6648
83,83,Cloud Data Engineer - Solution Specialist,USD 69K - 103K (Glassdoor est.),"Are you an experienced, passionate pioneer in ...",4.0,Deloitte,"Mechanicsburg, PA",10000+ Employees,1850,Company - Private,...,86.0,Mechanicsburg,PA,174,1,0,0,1,0,4941
84,84,Principal Data Scientist,USD 132K - 195K (Glassdoor est.),Are you interested in applying your data scien...,3.5,Keolis Commuter Services,"Boston, MA",501 to 1000 Employees,1908,Company - Private,...,163.5,Boston,MA,116,1,1,0,0,0,8165
86,86,Associate Data Scientist,USD 77K - 111K (Glassdoor est.),"At YPrime, we help our clients in the pharma a...",3.3,YPrime,"Malvern, PA",201 to 500 Employees,2006,Company - Private,...,94.0,Malvern,PA,18,0,1,0,0,0,2825
87,87,Data Scientist,USD 109K - 156K (Glassdoor est.),This position requires an active Top Secret/SC...,5.0,BasisPath Inc,"Herndon, VA",1 to 50 Employees,2013,Contract,...,132.5,Herndon,VA,11,1,1,1,0,0,1931
88,88,Cost and Value Mechanical Engineer - AI Robotics,USD 86K - 130K (Glassdoor est.),Cost and Value Engineer\r\nInnovation and crea...,3.0,Berkshire Grey,"Bedford, MA",201 to 500 Employees,2013,Company - Public,...,108.0,Bedford,MA,11,0,1,0,0,0,4841
91,91,Principal Data Scientist,USD 122K - 221K (Employer est.),Description\r\nLeidos Defense Group currently ...,3.8,Leidos,"Huntsville, AL",10000+ Employees,1969,Company - Public,...,171.5,Huntsville,AL,55,1,0,0,0,0,2225
92,92,Lead Data Scientist,USD 99K - 164K (Glassdoor est.),External Description:\r\nLIVING OUR VALUES\r\n...,4.7,The Friedkin Group,"Houston, TX",5001 to 10000 Employees,1969,Company - Private,...,131.5,Houston,TX,55,1,1,1,1,0,8103
93,93,"Reliability, Availability and Serviceability E...",USD 188K - 357K (Employer est.),"For two decades, we have pioneered visual comp...",4.6,NVIDIA,"Santa Clara, CA",10000+ Employees,1993,Company - Public,...,272.5,Santa Clara,CA,31,0,0,0,0,0,3935
94,94,Chief Data Architect (Staff Level; Top Secret ...,USD 161K - 241K (Employer est.),Requisition ID: R10143028\r\nCategory: Enginee...,4.0,Northrop Grumman,"San Diego, CA",10000+ Employees,1939,Company - Public,...,201.0,San Diego,CA,85,0,1,0,0,0,7967
95,95,Lead Machine Learning Engineer,USD 104K - 149K (Glassdoor est.),"At HCSC, we consider our employees the corners...",4.0,HCSC,"Chicago, IL",10000+ Employees,1936,Company - Private,...,126.5,Chicago,IL,88,1,0,0,0,0,3537
96,96,"Senior Director Data Science, AI Innovation Lab",USD 136K - 203K (Glassdoor est.),"At HCSC, we consider our employees the corners...",4.0,HCSC,"Austin, TX",10000+ Employees,1936,Company - Private,...,169.5,Austin,TX,88,0,1,0,0,0,3388
97,97,"Senior Deep Learning Software Engineer, DLSim",USD 148K - 276K (Employer est.),We are now looking for a Senior Deep Learning ...,4.6,NVIDIA,"Santa Clara, CA",10000+ Employees,1993,Company - Public,...,212.0,Santa Clara,CA,31,1,0,0,0,0,3705
98,98,"Senior Performance Software Engineer, Deep Lea...",USD 180K - 339K (Employer est.),We are now looking for a Senior Performance So...,4.6,NVIDIA,"Santa Clara, CA",10000+ Employees,1993,Company - Public,...,259.5,Santa Clara,CA,31,0,0,0,0,0,3617
99,99,Principal Software Engineer - Machine Learning,USD 138K - 192K (Glassdoor est.),Join us as a dynamic Engineer who will collabo...,3.0,Berkshire Grey,"Bedford, MA",201 to 500 Employees,2013,Company - Public,...,165.0,Bedford,MA,11,1,1,0,0,0,2373
100,100,Principal Statistical Programmer,USD 138K - 185K (Glassdoor est.),Everest Clinical Research (“Everest”) is a ful...,4.5,Everest Clinical Research,"Bridgewater, NJ",201 to 500 Employees,2004,Company - Private,...,161.5,Bridgewater,NJ,20,0,1,0,0,0,6728
101,101,Downstream Data Scientist (Expat),USD 68K - 115K (Glassdoor est.),Core Group Resources is America's leading recr...,4.5,Core Group Resources,"Houston, TX",1 to 50 Employees,2012,Company - Private,...,91.5,Houston,TX,12,1,0,0,1,0,2999
102,102,Data Scientist,USD 153K - 218K (Employer est.),SciTec has been awarded multiple government co...,4.0,SciTec,"Huntsville, AL",201 to 500 Employees,1979,Company - Private,...,185.5,Huntsville,AL,45,1,0,1,0,0,3560
105,105,"Associate Director, Statistical Programming",USD 125K - 181K (Glassdoor est.),Everest Clinical Research (“Everest”) is a ful...,4.5,Everest Clinical Research,"Bridgewater, NJ",201 to 500 Employees,2004,Company - Private,...,153.0,Bridgewater,NJ,20,0,1,0,0,0,7572
106,106,Consumer Products/Retail Data Science Manager,USD 82K - 143K (Glassdoor est.),Consumer Products/Retail Data Science Manager\...,4.0,Deloitte,"Tampa, FL",10000+ Employees,1850,Company - Private,...,112.5,Tampa,FL,174,1,1,0,0,0,6638
107,107,Senior Risk Architecture Analyst,USD 116K - 161K (Employer est.),Benefits Overview:\r\nA career at CoBank can o...,3.6,CoBank,"Greenwood Village, CO",1001 to 5000 Employees,1989,Company - Private,...,138.5,Greenwood Village,CO,35,0,1,1,0,0,5953
108,108,"Senior Scientist, Commercial Data Science",USD 91K - 151K (Glassdoor est.),"At Genmab, we’re committed to building extra[n...",4.2,Genmab,"Princeton, NJ",1001 to 5000 Employees,1999,Company - Public,...,121.0,Princeton,NJ,25,1,1,0,0,0,7098
110,110,"Associate Director, Omnichannel Data Scientist...",USD 110K - 185K (Glassdoor est.),"About Otsuka\r\n\r\nWe defy limitation, so tha...",4.0,Otsuka Pharmaceutical,"Princeton, NJ",1001 to 5000 Employees,1989,Company - Private,...,147.5,Princeton,NJ,35,1,1,0,0,0,10093
111,111,"(Senior) Scientist of Computer Vision, Transla...",USD 79K - 133K (Glassdoor est.),"At Genmab, we’re committed to building extra[n...",4.2,Genmab,"Princeton, NJ",1001 to 5000 Employees,1999,Company - Public,...,106.0,Princeton,NJ,25,1,1,0,0,0,6805
112,112,Senior Data Scientist (Credit Risk & Decision ...,USD 111K - 174K (Employer est.),"Overview\r\nProvide independent data science, ...",4.1,Navy Federal Credit Union,"Vienna, VA",10000+ Employees,1933,Self-employed,...,142.5,Vienna,VA,91,1,1,0,0,0,4742
113,113,Machine Learning Engineer,USD 74K - 113K (Glassdoor est.),Howmet Aerospace is hiring a Machine Learning ...,3.2,Howmet Aerospace,"Whitehall, MI",Unknown,1888,Company - Public,...,93.5,Whitehall,MI,136,1,1,1,0,0,3612
114,114,Deep Learning Data Science Manager,USD 104K - 156K (Glassdoor est.),Deep Learning Data Science Manager\r\n\r\nSFL ...,4.0,Deloitte,"Tampa, FL",10000+ Employees,1850,Company - Private,...,130.0,Tampa,FL,174,1,1,0,0,0,6135
115,115,VP Data Science,USD 124K - 262K (Employer est.),Job Description:\r\nThe Role\r\nWe are seeking...,4.3,Fidelity Investments,"Boston, MA",10000+ Employees,1946,Company - Private,...,193.0,Boston,MA,78,1,0,0,0,0,6466
116,116,Consumer Products/Retail Data Science Manager,USD 97K - 156K (Glassdoor est.),Consumer Products/Retail Data Science Manager\...,4.0,Deloitte,"Atlanta, GA",10000+ Employees,1850,Company - Private,...,126.5,Atlanta,GA,174,1,1,0,0,0,6638
117,117,Data Scientist- Mid,USD 146K - 234K (Employer est.),About Peraton\r\nPeraton is a next-generation ...,3.6,Peraton,"Herndon, VA",10000+ Employees,2017,Company - Private,...,190.0,Herndon,VA,7,1,0,1,1,0,4847
118,118,Principal Data Science,USD 127K - 177K (Employer est.),"Discover. A brighter future.\r\nWith us, you’l...",3.9,Discover Financial Services,"Riverwoods, IL",10000+ Employees,1985,Company - Public,...,152.0,Riverwoods,IL,39,0,0,0,0,0,5313
121,121,Head of AI Strategy and Business Integration,USD 129K - 186K (Glassdoor est.),FM Global is a leading property insurer of the...,3.3,FM Global,"Johnston, RI",5001 to 10000 Employees,1835,Company - Private,...,157.5,Johnston,RI,189,0,0,0,0,0,4316
123,123,Generative AI Developer Consultant,USD 70K - 122K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,...,96.0,Rosslyn,VA,174,1,0,0,0,0,4999
124,124,Senior Statistician,USD 117K - 151K (Glassdoor est.),Senior Statistician\r\nThe Nestlé Development ...,3.9,Nestlé Research & Development,"Solon, OH",1001 to 5000 Employees,1866,Subsidiary or Business Segment,...,134.0,Solon,OH,158,1,1,0,0,0,8001
126,126,Deep Learning Data Science Manager,USD 117K - 161K (Glassdoor est.),Deep Learning Data Science Manager\r\n\r\nSFL ...,4.0,Deloitte,"Atlanta, GA",10000+ Employees,1850,Company - Private,...,139.0,Atlanta,GA,174,1,1,0,0,0,6135
128,128,"Senior Director, Data Science & AI - Enabling ...",USD 135K - 218K (Glassdoor est.),"At Genmab, we’re committed to building extra[n...",4.2,Genmab,"Princeton, NJ",1001 to 5000 Employees,1999,Company - Public,...,176.5,Princeton,NJ,25,1,1,0,0,0,6685
129,129,Data Scientist,USD 90K - 127K (Glassdoor est.),Overview:\r\nAre you looking for an opportunit...,3.9,Altria,"Richmond, VA",5001 to 10000 Employees,1919,Company - Public,...,108.5,Richmond,VA,105,1,1,0,1,0,5147
132,132,Lead AI Developer,USD 125K - 175K (Employer est.),About this position\r\nSeeScan is on the looko...,3.6,SeeScan Inc.,"San Diego, CA",201 to 500 Employees,1983,Company - Private,...,150.0,San Diego,CA,41,1,1,0,0,0,5280
134,134,Manager Data Science,USD 104K - 141K (Glassdoor est.),Overview:\r\nWhy GM Financial?\r\n\r\nGM Finan...,3.8,GM Financial,"Fort Worth, TX",5001 to 10000 Employees,1992,Company - Public,...,122.5,Fort Worth,TX,32,1,1,0,0,0,6629
135,135,Deep Learning Data Science Manager,USD 116K - 160K (Glassdoor est.),Deep Learning Data Science Manager\r\n\r\nSFL ...,4.0,Deloitte,"Detroit, MI",10000+ Employees,1850,Company - Private,...,138.0,Detroit,MI,174,1,1,0,0,0,6135
136,136,Senior Data Scientist,USD 127K (Employer est.),"At Audible, we believe stories have the power ...",3.6,Amazon.com,"Newark, NJ",1001 to 5000 Employees,1995,Subsidiary or Business Segment,...,122.0,Newark,NJ,29,1,0,0,1,0,4831